# mongo connection string used for connecting to the MongoDB database used in api/index.js file
 MONGO="..."

#  JSON Web Token secret key used for signing and verifying JWTs used in api/constroller/authController.js file
JWT_SECRET="...."